ETMovies/.vs/
ETMovies/ETMovies/bin/Debug/net8.0/Azure.Core.dll
ETMovies/ETMovies/bin/
ETMovies/ETMovies/obj/
MoviesApi/.vs/
MoviesApi/MoviesApi/bin/
MoviesApi/MoviesApi/obj/
MoviesApi/MoviesApi/FileName.txt
