sql procedures and triggers/Problem1/.vs/Problem1/FileContentIndex/9db2cb8f-8d43-426e-90b6-68aa620099c0.vsidx
sql procedures and triggers/Problem1/.vs/Problem1/FileContentIndex/fb5874dc-c013-4e1b-976e-ff57e2627aea.vsidx
sql procedures and triggers/Problem1/.vs/Problem1/FileContentIndex/fed24e22-72cd-4247-9ac9-2a53713106d8.vsidx
sql procedures and triggers/Problem1/Problem1/obj/Debug/net8.0/Problem1.sourcelink.json
sql procedures and triggers/Problem2/.vs/Problem2/FileContentIndex/2c0dc74d-864e-4e01-badb-cabf273a8a3b.vsidx
sql procedures and triggers/Problem2/.vs/Problem2/v17/.futdcache.v2
sql procedures and triggers/Problem2/.vs/ProjectEvaluation/problem2.metadata.v8.bin
sql procedures and triggers/Problem2/.vs/ProjectEvaluation/problem2.projects.v8.bin
sql procedures and triggers/Problem2/.vs/ProjectEvaluation/problem2.strings.v8.bin
