@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Keania+One&display=swap");
body {
  font-family: "Poppins";
  margin: 0;
  overflow-x: hidden;
}

.header-conatiner {
  background-image: url(../images/bg-image3.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 400px;
  width: 100%;
}
.header-conatiner .nav-container {
  align-self: flex-end;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.header-conatiner .nav-container nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}
.header-conatiner .nav-container nav ul li {
  text-align: end;
}
.header-conatiner .nav-container nav ul li a {
  display: block;
  padding: 10px 20px 0 20px;
  line-height: 50px;
  color: #fff;
  text-decoration: none;
  font-size: 18px;
}
.header-conatiner .nav-container nav ul li a:hover {
  color: #ff7071;
  font-size: 20px;
}
.header-conatiner .header {
  max-width: auto;
  height: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 12px;
  width: 100%;
}
.header-conatiner .header .brand-container {
  background-image: url(../images/bg-image4.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 700px;
  height: 300px;
  padding: 50px;
  text-align: center;
  border-radius: 20px;
}
.header-conatiner .header .brand-container .brand {
  display: flex;
  justify-content: space-around;
  font-size: 40px;
  color: #fff;
}
.header-conatiner .header .brand-container .brand a {
  text-decoration: none;
  color: #000;
  font-size: 45px;
  font-family: "Keania One", sans-serif;
  align-content: center;
}
.header-conatiner .header .brand-container .brand .highlight {
  color: #ff7071;
  font-size: 80px;
}
.header-conatiner .header .brand-container .brand img {
  width: 320px;
  height: 200px;
  transform: rotate(-15deg);
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.8);
}
.modal .modal-content {
  background-image: url(../images/bg-image4.jpg);
  color: #000;
  margin: 100px auto;
  padding: 20px;
  width: 600px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
}
.modal .modal-content .modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.modal .modal-content .modal-header h1 {
  margin: 0;
}
.modal .modal-content .modal-header a {
  color: #000;
}
.modal .modal-content .modal-header a :hover {
  color: #ff7071;
}
.modal .modal-content a {
  color: #000;
}
.modal .modal-content a:hover {
  color: #ff7071;
}

#about-modal:target {
  display: block;
}

.available-shoes {
  margin: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.available-shoes .shoe {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.available-shoes .shoe img {
  background: #ccc;
  width: 400px;
  height: 220px;
  padding: 15px;
  border-radius: 20px;
}
.available-shoes .shoe p {
  font-size: 20px;
  margin-bottom: 2px;
}
.available-shoes .shoe button {
  border: 1px solid black;
  color: #000;
  font-size: 25px;
  border-radius: 5px;
  margin-bottom: 20px;
}
.available-shoes .shoe :hover {
  color: #ff7071;
}

.anchor-link {
  position: fixed;
  right: 0;
  bottom: 45px;
  background-color: #ccc;
  border-radius: 10px;
  padding: 8px;
  width: 25px;
  height: 25px;
}
.anchor-link a {
  color: #000;
  text-decoration: none;
  position: relative;
  display: inline-block;
}

.footer {
  background-image: url(../images/bg-image3.jpg);
  color: #fff;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0;
  width: 100vw;
}
.footer div {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer div p a {
  padding-left: 8px;
  color: #fff;
  text-decoration: none;
}
.footer div p a:hover {
  color: #ff7071;
}
.footer div p a span {
  margin-top: 7px;
}/*# sourceMappingURL=styles.css.map */