$content-width: 1000px;
$breakpoint: 799px;
$nav-height: 70px;
$footer-height: 40px;
$bg-img1: url(../images/bg-image3.jpg);
$bg-img2: url(../images/bg-image4.jpg);
$font-color1: #fff;
$font-color2: #000;
$font-color3: #ff7071;
$link-hover-color: #f8b500;
$company-name-background: #fff;

@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Keania+One&display=swap");

body {
  font-family: "Poppins";
  margin: 0;
}

.header-conatiner {
  background-image: $bg-img1;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 400px;
  width: 100%;

  .nav-container {
    align-self: flex-end;
    width: 100%;
    display: flex;
    justify-content: flex-end;

    nav {
      ul {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        li {
          text-align: end;
          a {
            display: block;
            padding: 10px 20px 0 20px;
            line-height: 50px;
            color: $font-color1;
            text-decoration: none;
            font-size: 18px;

            &:hover {
              color: $font-color3;
              font-size: 20px;
            }
          }
        }
      }
    }
  }

  .header {
    max-width: auto;
    height: $nav-height;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 12px;
    width: 100%;

    .brand-container {
      background-image: $bg-img2;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      width: 700px;
      height: 300px;
      padding: 50px;
      text-align: center;
      border-radius: 20px;

      .brand {
        display: flex;
        justify-content: space-around;
        font-size: 40px;
        color: $font-color1;

        a {
          text-decoration: none;
          color: $font-color2;
          font-size: 45px;
          font-family: "Keania One", sans-serif;
          align-content: center;
        }

        .highlight {
          color: $font-color3;
          font-size: 80px;
        }

        img {
          width: 320px;
          height: 200px;
          transform: rotate(-15deg);
        }
      }
    }
  }
}

.footer {
  background-image: $bg-img1;
  color: $font-color1;
  height: $footer-height;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0;
  width: 100vw;

  div {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    p {
      a {
        padding-left: 8px;
        color: $font-color1;

        &:hover {
          color: $font-color3;
        }

        span {
          margin-top: 7px;
        }
      }
    }
  }
}
